<div class="container">
    <div class="jumbotron">
        <h1 id="headerfirst"> Your Daily Task List</h1>


        <p>{{test}}</p>
    </div>

    <div class="jumbotron">
        <div class="container col-sm-4-centered">

            <form ng-submit="setTask()">
                <input type="text" placeholder="Add task" ng-model="newTask" ng-model-options="{updateOn : 'change'}">
            </form>

            <div class="card" ng-repeat="task in tasks | filter: currentFilter ">
                <div class="card-body" ng-mouseenter="mouseOver=true" ng-mouseleave="mouseOver=false">
                    <div class="col10">
                        <i ng-class="task.status ? 'far fa-check-square done' : 'far fa-square'" ng-click="checkTask($index)"></i>
                    </div>
                    <div class="col80">
                        <p ng-class="task.status ? 'done' : 'active'">{{task.text}}</p>
                    </div>

                    <div class="col10">
                        <i ng-class="task.status ? 'done' : 'active'" ng-hide="mouseOver==false" ng-click="delTask($index)" class="fas fa-times"></i>
                    </div>

                </div>
            </div>
            <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons" >
                <label class="btn btn-primary active" ng-click="setFilterBy('')">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> All
                </label>
                <label class="btn btn-primary" ng-click="setFilterBy('true')">
                    <input type="radio" name="options" id="option2"  autocomplete="off"> Resolved
                </label>
                <label class="btn btn-primary" ng-click="setFilterBy('false')">
                    <input type="radio" name="options" id="option3"  autocomplete="off"> Unresolved
                </label>
                <p class="ml-auto" id="counter"> Active: {{numActive()}}</p>
            </div>
        


    </div>
</div>



</div>