<div>      
    New Token:
    {{token}}
    <h1> Your Instagram feed goes here!</h1>
    {{6+7}}
</div>
<div class="userInfo">
        <img class="userProfile" ng-src="{{instagramFeed.profile_picture}}" />
        <div class="info">
            <p>{{userName}}</p>
            <p>{{fullName}}</p>
            <p>{{profilePicture}}</p>
        </div>
    </div>
<div class="row">
    <div class="col-md-3" ng-repeat="post in posts">
        <div class="card">
            <img class="card-img-top" src="{{post.img}}">
            
        </div>
    </div>


</div>
<!-- <instagram-profile>
    content for ng-transclude -->
<!-- <a ng-repeat="instagramFeed.content trak by $index" href="{{feed.instagramLink}}">
        <div class="slot">
            <img ng-src="{{feed.imageUrl}}" />
        </div>
    </a>
</instagram-profile>
<!-- <script type="text/ng-template" id="instagramTemplate"> -->
<!-- <h2>ddddd</h2>
<article class="instagramFeed">
    <div class="userInfo">
        <img class="userProfile" ng-src="{{instagramFeed.profile_picture}}" />
        <div class="info">
            <p>{{instagramFeed.username}}</p>
            <p>{{instagramFeed.full_name}}</p>
            <p>{{testfeedCtrl}}</p>
        </div>
    </div>
</article>
<!-- hohok for nested temaplate for transclusion -->
<!-- <div ng-transclude></div>
</script> -->