<div class="container">
    <div>
        <!-- New Token: {{token}} -->
        <h1 class="text-center">   </h1>
        <!-- {{2+8}} -->
    </div>
    <div class="userInfo">
        <p>
            <img ng-src="{{userInfo.profile_picture}}" />
        </p>
        <p class="user-details" ><h3>{{userInfo.username}}</h3></p>
        <p class="user-details" ><h3>{{userInfo.full_name}}</h3></p>
    </div>
    <hr>
    <div class="row wrapper">
        <div class="col-md-4" ng-repeat="post in currentFeed">
            <div class="square-box">
                <a href="#">
                    <img ng-src="{{post.img}}" class="img-responsive" ng-class="{grayscale: post.link == ''}">
                </a>
                <!-- <img class="post-img" ng-src="{{post.img}}"> -->
            </div>
            <div>
                <form>
                    <input type="text" class="linqin" ng-model="post.link" placeholder="Your link goes here" value={{post.link}}>
                    <button type="button" class="btn-set btn btn-light" ng-click="addLinq(post.link, $index)">
                        <i class="i-set far fa-check-circle"></i>
                    </button>
                    <p></p>
                    <p></p>
                    <!-- <p>link: {{post.link}}</p>
                    <p>the linq is: {{theLinq}}</p> -->
                </form>
            </div>
        </div>
    </div>
</div>