<div class="container">
    <div>
        New Token: {{token}}
        <h1> Hi you! Your Instagram feed goes here!</h1>
        {{2+8}}
    </div>
    <div class="userInfo">
        <p>
            <img ng-src="{{profilePicture}}" />
        </p>
        <p>{{userName}}</p>
        <p>{{fullName}}</p>
    </div>
    <hr>
    <div class="row wrapper">
        <div class="col-md-4" ng-repeat="post in currentFeed">
            <div class="square-box">
                <a href="#">
                    <img ng-src="{{post.img}}" class="img-responsive">
                </a>
                <!-- <img class="post-img" ng-src="{{post.img}}"> -->
            </div>
            <div>
                <form>
                    <input type="text" class="linqin" ng-model="theLinq" placeholder="Your link goes here">
                    <button type="button" class="btn-set btn btn-light" ng-click="addLinq(theLinq, $index)">
                        <i class="i-set far fa-check-circle"></i>
                    </button>
                    <p>the linq is: {{theLinq}}</p>
                </form>
            </div>
        </div>
    </div>
</div>